In [11]:
import pandas as pd
import numpy as np
import pyodbc

In [12]:
df = pd.read_csv('sales.csv')

In [13]:
df.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

In [14]:
df.rename(columns={'Invoice ID': 'Invoice_ID', 'Customer type': 'Customer_type', 'Product line': 'Product_line', 'Unit price': 'Unit_price', 'Tax 5%': 'Tax_5_percent', 'gross margin percentage': 'gross_margin_percentage', 'gross income': 'gross_income'}, inplace=True)

In [15]:
df

,Invoice_ID,Branch,City,Customer_type,Gender,Product_line,Unit_price,Quantity,Tax_5_percent,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [16]:
df.isnull().sum()

Invoice_ID                 0
Branch                     0
City                       0
Customer_type              0
Gender                     0
Product_line               0
Unit_price                 0
Quantity                   0
Tax_5_percent              0
Total                      0
Date                       0
Time                       0
Payment                    0
cogs                       0
gross_margin_percentage    0
gross_income               0
Rating                     0
dtype: int64

In [17]:
# Shuffle the data
df_shuffled = df.sample(frac=1, random_state=42)


#input db_percentage et json_percentage
json_percentage = float(input('Enter json percentage from 0 to 1: '))
db_percentage = float(input('Enter database percentage from 0 to 1: '))

# Calculate the number of rows for each destination
total_rows = df_shuffled.shape[0]
json_rows = int(json_percentage * total_rows)
database_rows = int(db_percentage * total_rows)
csv_rows = total_rows - json_rows - database_rows

# Split the data into JSON, database, and CSV parts
df_json = df_shuffled.iloc[:json_rows]
df_database = df_shuffled.iloc[json_rows:json_rows+database_rows]
df_csv = df_shuffled.iloc[json_rows+database_rows:]

Enter json percentage from 0 to 1: 0.3
Enter database percentage from 0 to 1: 0.3

In [28]:
# Save the splits to their respective destinations (JSON, database, and CSV)
df_json.to_json('json_sales.json', orient='records')
df_csv.to_csv('csv_sales.csv', index=False)

In [19]:
# Créez la connexion
connection = pyodbc.connect('DRIVER={SQL SERVER} ;SERVER=LAPTOP-QJ16KG8Q\SQLEXPRESS;DATABASE=sales')

# Create a cursor to execute SQL queries
cursor = connection.cursor()

In [20]:
df.columns

Index(['Invoice_ID', 'Branch', 'City', 'Customer_type', 'Gender',
       'Product_line', 'Unit_price', 'Quantity', 'Tax_5_percent', 'Total',
       'Date', 'Time', 'Payment', 'cogs', 'gross_margin_percentage',
       'gross_income', 'Rating'],
      dtype='object')

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice_ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer_type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product_line             1000 non-null   object
 6   Unit_price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax_5_percent            1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross_margin_percentage  1000 non-null   float64
 15  gross_income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

In [22]:
cursor.execute('''
    CREATE TABLE [SalesTable] (
        [Invoice ID] NVARCHAR(55),
        [Branch] NVARCHAR(55),
        [City] NVARCHAR(55),
        [Customer type] NVARCHAR(55),
        [Gender] NVARCHAR(55),
        [Product line] NVARCHAR(55),
        [Unit price] FLOAT,
        [Quantity] INT,
        [Tax 5%] FLOAT,
        [Total] FLOAT,
        [Date] NVARCHAR(55),
        [Time] NVARCHAR(55),
        [Payment] NVARCHAR(55),
        [cogs] FLOAT,
        [gross margin percentage] FLOAT,
        [gross income] FLOAT,
        [Rating] FLOAT,
        PRIMARY KEY ([Invoice ID])
    );
''')
connection.commit()

In [23]:
# Insert data into the dbpart table
for row in df_database.itertuples():
    # Check if the person_id already exists in the table
    cursor.execute('SELECT COUNT(*) FROM [SalesTable] WHERE [Invoice ID] = ?', (row[1],))
    count = cursor.fetchone()[0]
    
    if count == 0:
        # Insert the record if it doesn't exist
        cursor.execute('INSERT INTO SalesTable ([Invoice ID],[Branch],[City],[Customer type],[Gender],[Product line],[Unit price],[Quantity],[Tax 5%],[Total],[Date],[Time],[Payment],[cogs],[gross margin percentage],[gross income],[Rating]) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)', (row[1], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[9], row[10], row[11], row[12], row[13], row[14], row[15], row[16], row[17]))

connection.commit()

In [24]:
# Close the connection
cursor.close()
connection.close()

In [25]:
dfcsv = pd.read_csv("csv_sales.csv")

In [26]:
dfcsv

,Invoice_ID,Branch,City,Customer_type,Gender,Product_line,Unit_price,Quantity,Tax_5_percent,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_income,Rating
0,765-26-6951,A,Yangon,Normal,Male,Sports and travel,72.61,6,21.7830,457.4430,1/1/2019,10:39,Credit card,435.66,4.761905,21.7830,6.9
1,189-08-9157,C,Naypyitaw,Normal,Female,Fashion accessories,31.73,9,14.2785,299.8485,1/8/2019,16:17,Credit card,285.57,4.761905,14.2785,5.9
2,372-94-8041,A,Yangon,Normal,Male,Health and beauty,15.26,6,4.5780,96.1380,2/15/2019,18:03,Ewallet,91.56,4.761905,4.5780,9.8
3,110-48-7033,B,Mandalay,Member,Male,Fashion accessories,32.62,4,6.5240,137.0040,1/29/2019,14:12,Cash,130.48,4.761905,6.5240,9.0
4,562-12-5430,A,Yangon,Member,Female,Fashion accessories,88.15,3,13.2225,277.6725,1/18/2019,10:11,Ewallet,264.45,4.761905,13.2225,7.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,628-34-3388,C,Naypyitaw,Normal,Male,Fashion accessories,27.38,6,8.2140,172.4940,1/5/2019,20:54,Credit card,164.28,4.761905,8.2140,7.9
396,783-09-1637,B,Mandalay,Normal,Female,Sports and travel,67.43,5,16.8575,354.0075,3/6/2019,18:13,Ewallet,337.15,4.761905,16.8575,6.3
397,848-95-6252,C,Naypyitaw,Member,Female,Home and lifestyle,86.27,1,4.3135,90.5835,2/20/2019,13:24,Ewallet,86.27,4.761905,4.3135,7.0
398,751-69-0068,C,Naypyitaw,Normal,Male,Sports and travel,99.24,9,44.6580,937.8180,3/19/2019,19:09,Ewallet,893.16,4.761905,44.6580,9.0
399,551-21-3069,C,Naypyitaw,Normal,Female,Electronic accessories,23.07,9,10.3815,218.0115,2/1/2019,11:27,Cash,207.63,4.761905,10.3815,4.9